
.m-slider{
  padding: 18rem 0;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
  background-image: url(../../assets/images/bg_main.svg);
}
.webp{
  .m-s lider{
    background-image: url(../../assets/images/bg_main.webp);
  }
}
.avif{
  .m-slider{
    background-image: url(../../assets/images/bg_main.avif);
  }
}
.m-carousel.slick-not-init {
	.m-carousel_item {
		&:nth-child(n+2) {
			display: none;
		}
	}
}
