/*------------------------------------------------------------
	Header
------------------------------------------------------------*/
.c-header {
	width: 100%;
<<<<<<< HEAD
	padding: 20px 0 15px ;
=======
	padding: 0 20px;
	border-bottom: 1px solid rgba(226,232,240,1);
    box-shadow: 0 10px 15px -3px rgba(47,181,250,.05),0 4px 6px -2px rgba(47,181,250,.025);
>>>>>>> e02c111c4aae0728d2a01272fb84213539e23fde
	background-color: $color-main;
	position: fixed;
	top: 0;
	z-index: 9;
	&_nav{
<<<<<<< HEAD
		a{
			color: white;
		}
	}
	&_top{
		gap: 30px;
=======

	}
	&_top{
>>>>>>> e02c111c4aae0728d2a01272fb84213539e23fde
		input{
			max-width: 400px;
			width: 100%;
		}
<<<<<<< HEAD
		a{
			@include flex;
			gap: 15px;
    	align-items: center;
			font-size: 1.4rem;
			font-weight: 600;
		}
	}
	&_bottom{
		margin-top: 15px;
		li{
			font-weight: 700;
			font-size: 1.5rem;
			margin-left: 20px;
			&:first-of-type{
				margin: 0;
			}
		}
		.dropdown{
			position: relative;
			margin-right: 30px;
			> a{
				position: relative;
				&:after{
					content: url(../../assets/images/ico_dropdown.svg);
					position: absolute;
					right: -20px;
					transition: all 0.3s;
				}
			}
			&_sub{
				visibility: hidden;
				opacity: 0;
				left: 0;
				right: 0;
				position: absolute;
				background-color: $color-main;
				padding: 10px 15px;
				display: flex;
				flex-direction: column;
				gap: 10px;
				width: 150px;
				justify-content: start;
				transition: opacity 0.3s;
			}
			&:hover{
				> a{
					&:after{
						transform: rotate(270deg);
					}
				}
				.dropdown_sub{
					visibility: visible;
					opacity: 1;
				}
			}
		}
=======
>>>>>>> e02c111c4aae0728d2a01272fb84213539e23fde
	}
}